/*Added ResetCSS For Refrence*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  		box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  		box-sizing: border-box;
}


:root{
	--base-color: #565a5c;
	--heading-margin: 10px 0;
	--flex-none: none;
	--border-radius-3: 3px;
	--border: 1px solid #eee;
	--xlg-screen: 1600px;
	--padding-10: 10px; 
}

::selection{
	background-color: #4CAF50;
    color: #fff;
}

@font-face{
	font-family: "Raleway";
	src: url("../fonts/Raleway-Regular.ttf")
}

html{
	font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size-adjust: 100%;
}

body{
	overflow-x: hidden;
	line-height: 1.6;
	color: #565a5c;
	font-family: "Raleway", sans-serif;
	font-size: 1.4rem;
}

p{
	margin: 10px 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
	margin: var(--heading-margin);
}



h1{
	font-size: 3em;
	line-height: 1.05em;
}

h2{
	font-size: 2.25em;
}

h3{
	font-size: 1.75em;
}

h4{
	font-size: 1.125em;
}

h5{
	font-size: 1em;
}

h6{
	font-size: .9em;
}

blockquote{
	font-size: 1.5em;
}


.container{
	width: 100%;
	margin: 0 auto;
	padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 1440px){
	.container{
		width: 1280px;
	}
}


.box{
	flex: 1;
	padding-left: 10px;
	padding-right: 10px;
}

.box.box-25{
	flex: var(--flex-none);
	width: 25%;
}

.box.box-50{
	flex: var(--flex-none);
	width: 50%;
}

.box.box-75{
	flex: var(--flex-none);
	width: 75%;
}


.box-row{
	--box-display: flex;
	display: var(--box-display);
}


@media (max-width: 768px){
	.box-row{
		--box-display: block;
	}

	.box.box-25,
	.box.box-50,
	.box.box-75{
		width: 50%;
	}
}

@media (max-width: 600px){
	.box-row{
		--box-display: block;
	}

	.box.box-25,
	.box.box-50,
	.box.box-75{
		width: 100%;
	}
}


.container > * + * {
	margin-top: 20px;
}

/*Buttons*/

.button{
    padding: 5px 20px;
    background-color: #BDC3C7;
    color: #fff;
    text-align: center;
    border: none;
    cursor: pointer;
    margin: 5px;
    transition: all .3s ease;
    font-size: 16px;
    border-radius: 5px;
    min-width: 150px;
    min-height: 35px;
    line-height: 35px;
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
}

.button:hover{
	opacity: .8;
}

.button.is-green{
	--green: #26A65B;
	background-color: var(--green);
}

.button.is-blue{
	--blue: #22A7F0;
	background-color: var(--blue);
}

.button.is-red{
	--red: #DC3023;
	background-color: var(--red);
}

.button.is-yellow{
	--yellow: #F7CA18;
	background-color: var(--yellow);
}

.button.is-primary{
	--primary: #ABB7B7;
	background-color: var(--primary);
}

.button[disabled]{
	cursor: not-allowed;
	pointer-events: none;
	user-select: none;
	opacity: .5;
}

.input-content > * + *{
	margin-top: 15px;
}

.input{
	border-radius: var(--border-radius-3);
    padding: 5px;
    border: 1px solid #dbd9d9;
    display: block;
    margin: 5px;
    width: 100%;
    height: 35px;
}

input[type="submit"]{
cursor: pointer;
    border-radius: var(--border-radius-3);
    padding: 5px;
    border: 1px solid #dbd9d9;
    display: block;
    margin: 5px;
    min-width: 150px;
    height: 35px;
}

input[type="radio"]{
	height: 15px;
	cursor: pointer;
	vertical-align: baseline;
}

.label{
	cursor: pointer;
    display: inline-block;
    line-height: 1.25;
    position: relative;
}

.select{
	position: relative;
	display: block;
	max-width: 100%;
}

.select select{
    height: 2.3em;
    padding-right: 2.6em;
    padding-left: .6em;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #dbd9d9;
    padding-top: 5px;
    padding-bottom: 5px;
}

textarea{
	display: block;
    max-width: 100%;
    min-width: 100%;
    padding: 0.625em;
    resize: vertical;
    border: 1px solid #dbd9d9;
}

textarea:not([rows]) {
    max-height: 600px;
    min-height: 120px;
}

/*Card*/

.card{
	background-color: #fff;
	max-width: 100%;
	overflow: hidden;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin: 10px;
}

.card .card-img{
	max-width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

.card .card-img img{
	width: 100%;
    display: block;
}

.card .card-content{
	padding: 20px;
}

.card .card-content h3{
	font-size: 1.9em;
	font-weight: 600;
}

.dialog{
    background-color: #fff;
    max-width: 100%;
    width: 300px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}

.dialog-text{
    padding: 20px;
}

.dialog-btn{
	display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-btn button{
	width: 50%;
    background-color: #f5f5f5;
    border: var(--border);
    padding: 10px;
    cursor: pointer;
}

.dialog-btn button:hover{
	background-color: #fff;
}

/*Modal*/

.modal-header{
	padding: var(--padding-10);
	border-bottom: var(--border);
}



.modal:before{
	content: "";
	background-color: rgba(0,0,0, 0.6);
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
}

.modal:target:before{
	display: block;
}

.modal:target .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 20%;
}
.modal-dialog {
  background: #fefefe;
  border: #333 solid 1px;
  border-radius: 5px;
  margin-left: -200px;
  position: fixed;
  left: 50%;
  top: -100%;
  z-index: 100;
  width: 600px;
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}


.modal-body{
	padding: var(--padding-10);
}

.modal-footer{
	border-top: var(--border);
	padding: var(--padding-10);
}