.button{
	width: 150px;
    height: 40px;
    line-height: 40px;
    margin: 5px;
    padding: 0 5px;
    font-size: 14px;
    border: none;
    background-color: #d3cccc;
    text-align: center;
    cursor: pointer;
    color: #565a5c;
}